.footer {
	background: #efefef;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 999;
	& .container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&__title {
		font-family: 'Akrobat-SemiBold';
		font-size: 16px;
		line-height: 20px;
		color: #7e7e7e;
		margin: 17px 0;
	}
	& .links {
		display: flex;
		align-items: center;
	}
	& .link.link--active {
		color: #ff0000;
	}
	& .link {
		margin: 0 17px;
		font-family: 'Akrobat-SemiBold';
		font-size: 16px;
		line-height: 20px;
		color: #7e7e7e;
	}
	&__social {
		display: flex;
		align-items: center;
	}
	.social__links {
		margin-left: 10px;
	}
}
@media (max-width: 1024px) {
	.footer {
		&__title {
			font-size: 16px;
			line-height: 20px;
		}
		& .link {
			font-size: 14px;
			line-height: 17px;
		}
	}
}
@media (max-width: 864px) {
	.footer {
		& .link {
			display: none;
		}
		.social__links {
			margin-left: 5px;
		}
	}
}
