.header {
	position: fixed;
	z-index: 150;
	top: 0;
	left: 0;
	right: 0;
	&__wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: relative;
	}
	&__left {
		display: flex;
		align-items: center;
	}
	&__menu {
		display: none;
	}
	&__logo {
		width: 135px;
		height: 75px;
	}
	&__right {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	& .links {
		display: flex;
		align-items: center;
	}
	& .link {
		font-family: ' Akrobat-SemiBold';
		font-weight: 600;
		font-size: 20px;
		line-height: 25px;
		color: $text-color;
		margin: 0 1.25rem;
	}
	& .link--active {
		color: $link-active;
	}
	&__btn {
		margin-left: 5rem;
		width: 120px;
		height: 120px;
		border: 0px;

		font-family: 'Akrobat-Bold';
		font-weight: 700;
		font-size: 20px;
		line-height: 25px;
		text-align: center;
		text-transform: uppercase;
		color: #ffffff;
		outline: none;
	}
}

@media (max-width: 1034px) {
	.header {
		&__logo {
			margin-left: 50px;
		}
		&__menu {
			display: block;
			width: 40px;
			height: 40px;
			padding: 3px;
			display: flex;
			align-items: center;
			position: relative;
			z-index: 9999;
		}
		&__menu--active {
			.header__menu-line {
				transform: rotateZ(135deg);
				transition: transform 0.5s;
				&::before {
					transform: rotateZ(90deg);
					bottom: 0px;
				}
				&::after {
					display: none;
				}
			}
		}
		&__menu-line {
			width: 34px;
			height: 3px;
			background: #000000;
			position: relative;
			transition: transform 0.5s;
			&::before {
				content: '';
				width: 34px;
				height: 3px;
				background-color: #000;
				position: absolute;
				left: 0;
				bottom: 13px;
			}
			&::after {
				content: '';
				width: 34px;
				height: 3px;
				background-color: #000;
				position: absolute;
				left: 0;
				top: 13px;
			}
		}
		&__btn {
			margin-left: 0;
		}

		&__nav {
			transform: translateY(calc(-100vh + 54px));
			position: absolute;
			top: 120px;
			left: 0;
			transition: transform 0.5s;

			display: flex;
			align-items: center;

			& .links {
				display: flex;
				flex-direction: column;
				align-items: start;
				justify-content: space-around;
				background: #ffffff;
				opacity: 0.95;
				padding-left: 94px;
				width: 100vw;
				height: calc(100vh - 120px - 54px);
			}
			& .link {
				font-family: 'ZonaPro-Bold';
				font-weight: 800;
				font-size: 52px;
				line-height: 62px;
				text-transform: uppercase;
				color: #000000;
			}
			& .link--active {
				color: $link-active;
			}
		}
		&__nav--active {
			transform: translateY(0px);
			transition: transform 0.5s;
		}
	}
}
@media (max-width: 375px) {
	.header {
		&__logo {
			margin-left: 20px;
		}
		&__btn {
			width: 90px;
			height: 90px;
			margin-left: 15px;
		}

		&__nav {
			top: 90px;
			& .links {
				padding-left: 40px;
				height: calc(100vh - 90px - 54px);
			}
			& .link {
				font-size: 32px;
				line-height: 38px;
			}
		}
	}
}
