$font-family: 'Akrobat-SemiBold';

//color
$text-color: #000;
$link-active: #ff0000;
$footer-color: #efefef;
$bg-color: #ffee2f;

$btn-color: #ce0002;
$hover-color: #fe0002;
$active-color: #a60002;

$bg--card-img: #e8d935;
$mobile-bg: #f1faff;
